<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto" style="margin-top:10%">
          <div class="card-group">
            <div class="card p-4">
              <form (ngSubmit)="onSignIn(f)" #f="ngForm">
                <h1>Forgot Password</h1>
                <br>
                <br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" name="username" ngModel required email>
                </div>



                <div class="row">
                  <div class="col-8">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="!f.valid" style="background-color: #34ccff">Submit</button>
                  </div>

                </div>
              </form>
            </div>
          </div>
          <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>

        </div>
      </div>

    </div>

  </main>

</div>
