<header>
  <div class="header-top">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-12 col-12 col-lg-12">
          <div class="row">
            <div class="col-lg-7 col-md-2">

            <nav>
              <li><a routerLink="/register" style="color:white">Register</a></li>

              <li><a routerLink="/login" style="color:white">Login</a></li>
            </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-top header-top-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo/logo-2.png" alt=""></a>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-12 col-lg-9">
          <ul class="d-flex account_login-area">
            <li class="account-item">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <h5><span>Call Us Now</span>Tel: +555 965 325</h5>
            </li>
            <li class="account-item account-item-2">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <h5><span>Mail Us Today</span>youremail@gmail.com</h5>
            </li>
            <li class="account-item">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h5><span>Company Location</span>1230 Banena Street, London</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-area header-style-2">
    <div class="header-sub"  id="sticky-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <div class="main-menu">
              <nav class="nav_mobile_menu">
                <ul>
                  <li class="active"><a href="#">Home</a>
                    <ul class="submenu">
                      <li class="active"><a href="index.html">Home One</a></li>
                      <li><a href="index-2.html">Home Two</a></li>
                      <li><a href="index-3.html">Home Three</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/aboutus">About</a></li>
                  <li><a href="#">Services</a>
                    <ul class="submenu">
                      <li><a href="service.html">service single</a></li>
                      <li><a href="Freight.html">Air Freight</a></li>
                      <li><a href="road.html">Road Freight</a></li>
                      <li><a href="ocean.html">Ocean Freight</a></li>
                    </ul>
                  </li>
                  <li><a href="case.html">Pages</a>
                    <ul class="submenu">
                      <li><a href="pricing.html">pricing table</a></li>
                      <li><a href="team.html">Team</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="#">Blog</a>
                    <ul class="submenu">
                      <li><a href="blog.html">Blog with right sidebar</a></li>
                      <li><a href="blog-right.html">Blog with Left sidebar</a></li>
                      <li><a href="blog-fullwidth.html">Blog full width</a></li>
                      <li><a href="blog-details.html">Blog single right sidebar</a></li>
                      <li><a href="blog-details-right.html">Blog single left sidebar</a></li>
                      <li><a href="blog-details-fullwidth.html">Blog single fullwidth</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-5 search">
            <ul>
              <li><a href="javascript:void(0);"><i class="fa fa-search"></i></a>
                <ul>
                  <li>
                    <form action="search">
                      <input type="text" placeholder="search here..">
                      <button><i class="fa fa-search"></i></button>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="btn-style btn-style2"><a href="#">Request a Quote</a></div>
          </div>
          <div class="col-12 col-sm-11 col-md-9 d-block d-lg-none">
            <div class="mobile_menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

